footer {
    background-color: #33373D;
    padding: 14px 16px;
}

.submit-btn {
    right: .5rem;
    top: 2rem;
    transition: opacity .3s ease;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: .9;
}

input:active,
input:focus {
    border: 2px solid #f56565;
    outline: none;
}